<div class="inner clearfix">
  <h2 class="sr-only">Blog</h2>
  <div class="blog-listing">
    <article class="post has-post-thumbnail">
      <div class="post-image">
        <a href="blog-post.html">
          <img src="http://via.placeholder.com/900x600/f1f1f1/aaa/?text=placeholder" width="900" height="600" alt="">
        </a>
      </div>
      <div class="post-content">
        <div class="post-content-inner">
          <h3 class="post-title"><a href="blog-post.html">It is done by Sam Wake</a></h3>
          <p class="post-excerpt">Non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Praesent sollicitudin ligula a magna consectetur commodo. Integer id urna dui&hellip;</p>
        </div>
        <div class="post-meta-wrapper">
          <ul class="post-meta">
            <li class="meta-date">
              <a href="post,html"><time class="published" datetime="2018-02-03">February 3, 2018</time></a>
            </li>
            <li class="meta-author">
              <a href="#">Liviu Cerchez</a>
            </li>
            <li class="meta-comments">
              <a href="blog-post.html#comments">3 Comments</a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="post has-post-thumbnail">
      <div class="post-image">
        <a href="blog-post.html">
          <img src="http://via.placeholder.com/900x500/f1f1f1/aaa/?text=placeholder" width="900" height="500" alt="">
        </a>
      </div>
      <div class="post-content">
        <div class="post-content-inner">
          <h3 class="post-title"><a href="blog-post.html">Still life in modern contexts</a></h3>
          <p class="post-excerpt">Non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Praesent sollicitudin ligula a magna consectetur commodo. Integer id urna dui&hellip;</p>
        </div>
        <div class="post-meta-wrapper">
          <ul class="post-meta">
            <li class="meta-date">
              <a href="post,html"><time class="published" datetime="2018-02-01">February 1, 2018</time></a>
            </li>
            <li class="meta-author">
              <a href="#">Liviu Cerchez</a>
            </li>
            <li class="meta-comments">
              <a href="blog-post.html#comments">1 Comment</a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="post has-post-thumbnail">
      <div class="post-image">
        <a href="blog-post.html">
          <img src="http://via.placeholder.com/600x900/f1f1f1/aaa/?text=placeholder" width="600" height="900" alt="">
        </a>
      </div>
      <div class="post-content">
        <div class="post-content-inner">
          <h3 class="post-title"><a href="blog-post.html">Mmm, flapjacks for breakfast</a></h3>
          <p class="post-excerpt">Irure dolor in reprehenderit in voluptate velit esse cillum dolo reau fugiat nulla pariatur. Non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Praesent sollicitudin ligula a magna consectetur commodo.&hellip;</p>
        </div>
        <div class="post-meta-wrapper">
          <ul class="post-meta">
            <li class="meta-date">
              <a href="post,html"><time class="published" datetime="2018-01-13">January 13, 2018</time></a>
            </li>
            <li class="meta-author">
              <a href="#">Liviu Cerchez</a>
            </li>
            <li class="meta-comments">
              <a href="blog-post.html#comments">2 Comments</a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="post has-post-thumbnail">
      <div class="post-image">
        <a href="blog-post.html">
          <img src="http://via.placeholder.com/900x600/f1f1f1/aaa/?text=placeholder" width="900" height="600" alt="">
        </a>
      </div>
      <div class="post-content">
        <div class="post-content-inner">
          <h3 class="post-title"><a href="blog-post.html">Handmade hanging wardrobe </a></h3>
          <p class="post-excerpt">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolo reau fugiat nulla pariatur. Non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Praesent sollicitudin ligula a magna consectetur commodo.&hellip;</p>
        </div>
        <div class="post-meta-wrapper">
          <ul class="post-meta">
            <li class="meta-date">
              <a href="post,html"><time class="published" datetime="2018-01-11">January 11, 2018</time></a>
            </li>
            <li class="meta-author">
              <a href="#">Liviu Cerchez</a>
            </li>
            <li class="meta-comments">
              <a href="blog-post.html#comments">4 Comments</a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="post has-post-thumbnail">
      <div class="post-image">
        <a href="blog-post.html">
          <img src="http://via.placeholder.com/900x600/f1f1f1/aaa/?text=placeholder" width="595" height="892" alt="">
        </a>
      </div>
      <div class="post-content">
        <div class="post-content-inner">
          <h3 class="post-title"><a href="blog-post.html">New ways to improve inner thoughts</a></h3>
          <p class="post-excerpt">Reprehenderit in voluptate velit esse cillum dolo reau fugiat nulla pariatur. Non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Praesent sollicitudin ligula a magna consectetur commodo.&hellip;</p>
        </div>
        <div class="post-meta-wrapper">
          <ul class="post-meta">
            <li class="meta-date">
              <a href="post,html"><time class="published" datetime="2018-01-08">January 8, 2018</time></a>
            </li>
            <li class="meta-author">
              <a href="#">Liviu Cerchez</a>
            </li>
            <li class="meta-comments">
              <a href="blog-post.html#comments">0 Comments</a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <div class="pagination">
      <span class="page-numbers current">Page 1</span>
      <a href="blog.html" class="page-numbers">Page 2</a>
      <a href="blog.html" class="page-numbers">Next Page</a>
    </div>
  </div>
</div>
