<div class="inner clearfix">
  <app-blog-admin></app-blog-admin>
  <h2 class="sr-only">Blog</h2>
  <div class="blog-listing">
    <article class="post has-post-thumbnail" *ngFor="let post of this.posts">
      <div class="post-image">
        <a routerLink="/{{post.Slug}}">
          <img src="{{post.Image.Source}}" width="{{post.Image.Width}}" height="{{post.Image.Height}}" alt="">
        </a>
      </div>
      <div class="post-content">
        <div class="post-content-inner">
          <h3 class="post-title"><a routerLink="/{{post.Slug}}">{{post.Header.Title}}</a></h3>
          <p class="post-excerpt">{{post.Header.Excerpt}}</p>
        </div>
        <div class="post-meta-wrapper">
          <ul class="post-meta">
            <li class="meta-date">
              <a href="post,html"><time class="published" datetime="2018-02-03">February 3, 2018</time></a>
            </li>
            <li class="meta-author">
              <a href="#">{{post.Header.Author}}</a>
            </li>
            <li class="meta-comments">
              <a routerLink="/{{post.Slug}}#comments">3 Comments</a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <div class="pagination">
      <a *ngIf="this.currentPage > 1" [routerLink]="['/posts', { page: this.currentPage - 1 }]" class="page-numbers">Previous Page</a>
      <ng-container *ngFor="let n of fakeArray; let index = index">
        <a *ngIf="index + 1 != this.currentPage" [routerLink]="['/posts', { page: index + 1 }]" class="page-numbers">Page {{index + 1}}</a>
        <ng-container *ngIf="index + 1 == this.currentPage"><span class="page-numbers current">Page {{this.currentPage}}</span></ng-container>
      </ng-container>
      <a *ngIf="this.currentPage < this.pages" [routerLink]="['/posts', { page: (this.currentPage + 1) }]" class="page-numbers">Next Page</a>
    </div>
  </div>
</div>
